.card {
    text-align: center;
    color: var(--dark);
    background-color: var(--light);
    border-radius: 10px;
    box-shadow: 0px 5px 30px black;
    padding: 30px 5%;
    margin: 0 7%;
}

.card.card--dark {
    background-color: var(--dark);
    color: var(--light);
}

.card.card--y-200px-translated {
    transform: translateY(-200px);
}

.card.card--y-100px-translated {
    transform: translateY(-100px);
}

.card.card--less-padding {
    padding: 15px 2%;
}

.card.card--absolute {
    position: fixed;
    z-index: 4;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card--text-left {
    text-align: left;
}
