.app-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-content h2 {
    margin-bottom: 20px;
}

.app-content.app-content--overflow-hidden {
    overflow: hidden;
}