.menu-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu-item > .menu-item__food,
.menu-item > .menu-item__price {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.menu-item > .menu-item__food {
    gap: 15px;
}

.menu-item > .menu-item__price {
    grid-column: 3 / 4;
}

.menu-item > .menu-item__price > label {
    order: 1;
    color: var(--light-dark);
    transform: translateY(13px);
    transition: transform var(--transition-time), color var(--transition-time);
}

.menu-item > .menu-item__price > input {
    order: 2;
    border: none;
    background-color: var(--light);
    border-bottom: 1.5px solid var(--light-dark);
    font-size: 0.9rem;
    transition: border-color var(--transition-time);
}

.menu-item > .menu-item__price > input:focus + label,
.menu-item > .menu-item__price > input:not(:placeholder-shown) + label {
    transform: translateY(-1px);
    color: var(--dark);
}

.menu-item > .menu-item__price > input:focus {
    outline: none;
    border-color: var(--dark);
}

.menu-item > .menu-item__price > button {
    order: 3;
    margin-top: 30px;
    cursor: pointer;
}
