.menu-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
}

.menu-item > hr {
    grid-column: 1 / -1;
    width: 100%;
    border-top: 1px solid var(--light-dark);
    margin-top: 15px;
    margin-bottom: 30px;
}

@media (max-width: 540px) {
    .menu-item {
        grid-template-areas:
                    "description description description"
                    "price price price"
                    "division division division";
    }

    .menu-item > hr {
        grid-area: division;
    }
}
