.pill {
    display: flex;
    background-color: var(--black-transparent);
    border-radius: 23px;
    padding: 2px 10px;
    color: white;
    align-items: center;
    gap: 10px;
}

.pill--red {
    background-color: var(--red);
}

.pill--small {
    padding: 2px 10px;
    border-radius: 50px;
}
