.pill {
    display: flex;
    background-color: var(--black-invisible);
    border-radius: 23px;
    padding: 5px 10px;
    color: var(--light);
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.pill--red {
    background-color: var(--red);
}

.pill--small {
    padding: 2px 10px;
    border-radius: 50px;
}

.pill--clickable {
    cursor: pointer;
}

.pill:hover {
    background-color: var(--black-transparent);
}

.pill:hover .pill--red,
.pill--red:hover {
    background-color: var(--dark-red);
}
