@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/poppins/Poppins-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/poppins/Poppins-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/poppins/Poppins-Black.ttf");
    font-weight: 900;
}

:root {
    --light: #dddada;
    --red: #922903;
    --red-transparent: #9229038a;
    --dark-red: #461503;
    --light-dark: #a5a1a1;
    --dark: #302f2f;
    --darker: #252525;
    --black-transparent: #000000c4;
    --black-invisible: #0000008a;
    --overlay-background: #0000006e;
    --transition-time: 0.3s
}

body {
    background-color: var(--darker);
    font-family: 'Poppins', sans-serif;
}

body, h1,
h2, h3,
h4, h5,
h6, p,
button, hr {
    margin: 0;
}

button {
    padding: 0;
    border: none;
    background-color: inherit;
}

hr {
    border-bottom: none;
    border-left: none;
    border-right: none
}

body.no-overflow {
    overflow: hidden;
}
